<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dohia.androidbaseframework"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!--IMEI-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".config.MyApp">
        <activity android:name=".instance.GuideActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity android:name="camerplugin.zsoftware.com.videoz.SmallVideoActivity" android:screenOrientation="portrait"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            tools:replace="android:authorities">
        </provider>

        <receiver android:name=".broadcast.NetworkStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <!--instance-->
        <activity android:name=".instance.InstanceMainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".instance.ToolbarActivity" android:screenOrientation="portrait"/>
        <activity android:name=".instance.PermissionsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".instance.UpdateAppActivity" android:screenOrientation="portrait"/>
        <activity android:name=".instance.TakePhotoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".instance.CustemVideoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.WebViewActivity" android:screenOrientation="portrait"/>
        <activity android:name=".instance.TimerActivity" android:screenOrientation="portrait"/>
        <activity android:name=".instance.LayoutOptimizationActivity" android:screenOrientation="portrait"/>

        <activity android:name=".instance.pattern.PatternActivity" android:screenOrientation="portrait"/>
        <activity android:name=".instance.pattern.def.DefaultStyleActivity" android:screenOrientation="portrait"/>
        <activity android:name=".instance.pattern.def.DefaultPatternSettingActivity" android:screenOrientation="portrait"/>
        <activity android:name=".instance.pattern.def.DefaultPatternCheckingActivity" android:screenOrientation="portrait"/>
        <activity android:name=".instance.ContactActivity" android:screenOrientation="portrait"/>
        <activity android:name=".instance.MVVMActivity" android:screenOrientation="portrait"/>
        <activity android:name=".instance.aac.activity.AACActivity" android:screenOrientation="portrait"/>
        <!--instance-->

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5bf4cf1ab465f537e60001b0" />
        <!-- Channel ID用来标识App的推广渠道，作为推送消息时给用户分组的一个维度。-->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <activity
            android:name=".activity.MipushTestActivity"
            android:launchMode="singleTask"
            android:exported="true"
            android:screenOrientation="portrait"/>
    </application>

</manifest>