<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="camerplugin.zsoftware.com.videoz"
    xmlns:tools="http://schemas.android.com/tools">

    <!--硬件支持-->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />



    <application>
        <provider
            android:name="camerplugin.zsoftware.com.videoz.utils.UpdateFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/video_paths"
                tools:replace="android:resource"/>
        </provider>
    </application>


</manifest>